.button
  background $alto-color
  border none
  border-radius 2px
  color $tundora-color
  cursor pointer
  display inline-block
  font-size 1rem
  padding 6px 18px

  &:hover
  &:active
    color darken(@color, 10%)
    background darken(@background, 10%)

  &--primary
  &--secundary
    color $alabaster-color

  &--primary
    background $shamrock-color

    &:hover
    &:active
      color $alabaster-color
      background darken(@background, 10%)

  &--secundary
    background $persimmon-color

    &:hover
    &:active
      color $alabaster-color
      background darken(@background, 10%)