.facet
  text-align left
  padding 8px 0
  border-bottom 1px solid $heavy-metal-color
  &:last-of-type
    border-bottom none

  &__title
    margin-top 0
    margin-bottom 10px
    font-size 1rem

  &__list
    margin 0
    padding 0 0 0 10px
    list-style none

  &__item
    padding 4px 0

  &__item-input
    margin-right 5px