.header
  background $persimmon-color

  &__container
    lost-flex-container row
    padding-top 14px
    padding-bottom 14px

  &__img
    max-width 80px

  &__button
    padding 6px
    margin-left auto
    align-self center
    color $alabaster-color
    font-size 1.4em
    text-decoration none
    &:hover
    &:focus
      color darken(@color, 5%)

