.jumbotron
  background-image url('../img/hero-image.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 40vh
  lost-align center
  &:before
    background rgba($heavy-metal-color, .2)
    content ""
    height 100%
    left 0
    position absolute
    top 0
    width 100%

  &__title
    color $alabaster-color
    font-range 320px 1400px
    font-size responsive 22px 60px
    margin 0
    text-shadow 1px 1px 1px $heavy-metal-color
    width 90%