.search-form
  lost-flex-container row
  width 100%
  margin auto
  max-width 750px

  &__input
    background $alabaster-color
    border 1px solid $alabaster-color
    border-radius 2px 0 0 2px
    color $tundora-color
    flex-grow 1
    font-size 1em
    padding 10px
    transition border .2s ease

    &::placeholder
      color lighten(@color, 10%)

    &:focus
      border 1px solid $shamrock-color
      outline none

  &__button
    width 42px
    height 42px
    border none
    color $alabaster-color
    background $shamrock-color
    font-size 1.3rem
    border-radius 0 2px 2px 0
    cursor pointer
    lost-align center
    &:hover
      background darken(@background, 10%)

