<section ng-cloak>
  <div class="jumbotron">
    <h1 class="jumbotron__title">Pide lo que quieras, donde quieras y cuando quieras!</h1>
  </div>
  <div class="l-strip">
    <div class="l-container">
      <form class="search-form">
        <input class="search-form__input" type="text" placeholder="Busca un producto">
        <button class="search-form__button" type="submit">
          <span class="icon-search"></span>
          <span class="visuallyhidden">Buscar</span>
        </button>
      </form>
    </div>
  </div>
  <h2>Explora nuestros productos</h2>
  <div>
    <button>Filter</button>
    sort:
    <select>
      <option value="Nombre">Nombre</option>
      <option value="Precio: mayor precio">Mayor precio</option>
      <option value="Precio: menor precio">Menor precio</option>
    </select>
  </div>
  <div class="l-container">
    <div class="product-card" ng-repeat="product in homeCtrl.products">
      <a class="product-card__link" href="#">
        <img class="product-card__img" ng-src="{{product.img}}" alt="{{product.name}}">
        <h4 class="product-card__name">{{product.name}}</h4>
        <p class="product-card__desc">{{product.description}}</p>
        <span class="product-card__price">{{product.price | currency}}</span>
      </a>
      <button class="button button--secundary product-card__add" href="#">Agregar</button>
    </div>
  </div>
</section>