<section ng-cloak>
  <div class="jumbotron">
    <h1 class="jumbotron__title">Pide lo que quieras, donde quieras y cuando quieras!</h1>
  </div>
  <div class="l-strip">
    <div class="l-container">
      <form class="search-form">
        <input class="search-form__input" type="text" placeholder="Busca un producto" ng-model="homeCtrl.searchName">
        <button class="search-form__button" type="submit">
          <span class="icon-search"></span>
          <span class="visuallyhidden">Buscar</span>
        </button>
      </form>
    </div>
  </div>
  <h2>Explora nuestros productos</h2>
  <div class="l-utility-bar">
    <div class="l-container l-utility-bar__container">
      <button class="button button--secundary l-utility-bar__filter">Filter</button>
      <span class="l-utility-bar__sort">
        sort:
        <select ng-model="homeCtrl.orderProperty" ng-options="filter.orderBy as filter.name for filter in homeCtrl.filters"></select>
      </span>
    </div>
  </div>
  <div class="l-container">
    <aside class="l-product-grid-aside">
      <div class="facets-bar">
        <div class="facet">
          <h3 class="facet__title">Categories</h3>
          <ul class="facet__list">
            <li class="facet__item">
              <label>
                <input type="checkbox">
                all
              </label>
            </li>
            <li class="facet__item">
              <label>
                <input type="checkbox">
                drinks
              </label>
            </li>
            <li class="facet__item">
              <label>
                <input type="checkbox">
                food
              </label>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <ul class="l-product-grid">
      <li class="product-card" ng-repeat="product in homeCtrl.products | orderBy:homeCtrl.orderProperty | filter: {name: homeCtrl.searchName}">
        <a class="product-card__link" href="#">
          <img class="product-card__img" ng-src="{{product.img}}" alt="{{product.name}}">
          <h4 class="product-card__name">{{product.name}}</h4>
          <p class="product-card__desc">{{product.description}}</p>
          <span class="product-card__price">{{product.price | currency:undefined:0}}</span>
        </a>
        <button class="button button--secundary product-card__add" href="#">Agregar</button>
      </li>
    </ul>
  </div>
</section>