*
*:before
*:after
  box-sizing border-box

html
  font-size 100%

body
  background $alabaster-color
  color $tundora-color
  font-family $source-sans-font
  font-weight $regular-weight
  font-size responsive 16px 18px
  font-range 320px 1400px
  text-align center