.l
  &-container
    padding-left $basic-gutter
    padding-right $basic-gutter
    +above('m')
      lost-center 750px
    +above('l')
      max-width 960px
    +above('xl')
      max-width 1170px

  &-strip
    background $alto-color
    padding-top 20px
    padding-bottom 20px