// Colors
$alabaster-color = #fbfbfb
$mercury-color = #B03526
$alto-color = #DAD7D7
$tundora-color = #4d4d4d
$heavy-metal-color = #232423
$bitterseet-color = #FF7A6A
$persimmon-color = #fd6250
$tall-popy-color = #B03526
$shamrock-color = #44d481
$mountain-meadow-color = #15B060

// Fonts
$source-sans-font = 'Source Sans Pro', Helvetica Neue, Helvetica, sans-serif;

// Font-weights
$light-weight = 300
$regular-weight = 400
$bold-weight = 700
$black-weight = 900

// Font sizes
$base-font-size = 16px

// Spacing
$basic-gutter = $base-font-size

// Rupture config
rupture.scale = 0 480px 768px 990px 1200px 1440px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
rupture.anti-overlap = false
rupture.enable-em-breakpoints = false

// Lost config
@lost flexbox flex;

